<style>
.glyphicon {
    font-size: 35px;
}

</style>

<body id="page-top" class="index">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4&appId=1069203399774089";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>


    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="img-responsive" src="/assets/magnetic_current_logo.png" alt="" width="60%" height="50%"> 
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Magnetic</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Dev. Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Footsteps</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Interns</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Interns' Projects</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <center><div class="intro-heading"><font color="#A80000">M</font><font color="#000000">agnetic</font>
                <font size="50px"> <font color="    #D0D0D0 ">for</font> </font><font color="#A80000">I</font><font color="#000000">NTERNS</font></div>
                <a href="http://www.magnetichq.com/" class="page-scroll btn btn-xl">Magnetic Offical Homepage</a></center>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">What is MAGNETIC?</h2>
                    <font size="4"<h3 class="section-subheading text-muted">The product that checks your business to see what's happening as a bird's-eye view at any point in time. Magnetic app automatically manages your database, tracks your time spent on your work, and increases efficiency of collaboration with your partners. </h3></font>
                </div>
            </div>
            <hr>
            <br>
            <div class="embed-responsive embed-responsive-16by9">
            <center><iframe id="youtube-QBs7gVp9uf4" class="youtube" width="970" height="546" src="http://www.youtube.com/embed/QBs7gVp9uf4" frameborder="0" allowfullscreen></iframe></center>
            </div>

            <br>
            <br>
            <div class="row text-center">
                <font size="5"><b>Three Key Words of Magnetic</b> </font><br>
                <hr>
                <div class="col-md-4">
                     <span class="glyphicon glyphicon-check"></span>
                    <h4 class="service-heading">Feasibility</h4>
                    <p class="text-muted"> Magnetic tells you how much time is required for a person to accomplish his/her task. Based on time tracking result, you can distribute the workload to others and to you reasonably. Inequality in workload distribution is never going to happen. Whatever taks you have, they are always feasible with Magnetic. </p>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-circle-arrow-up"></span>
                    <h4 class="service-heading">Productivity</h4>
                    <p class="text-muted">Everyone recieves a task and no one is left behind. According to one's capability, the worlaod is divded and assigned. All members are happy, teamwork goes freaking awesome and the asisgnment is done efficiently.</p>
                </div>
                <div class="col-md-4">
                    <span class="glyphicon glyphicon-fullscreen"></span>
                    <h4 class="service-heading">Flexibility</h4>
                    <p class="text-muted">With Magnetic, you know what to do. You also know what your other teammates do. You can keep tracking whether you and they are anytime as long as you use Magnetic. With Magnetic, you do not need to stay in a work place. You can work on a cozy sofa in your room, check how much others' projects are done and assign new projects.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Origin of the Company's Name -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Why is it called MAGNETIC?</h2>
                    <h3 class="section-subheading text-muted">Why is the company called Magnetic? What is the Mission of the Company? </h3>
                </div>
            </div>
        </div>
    </section>

    <!-- Portfolio Grid Section -->
    <section id="portfolio" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Development Team</h2>
                    <h3 class="section-subheading text-muted">We are the TECH PIONNERS of Magnetic. Wanna know about us more?<br> Please click our developers' profile photos!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            </div>
                        </div>
                        <img src="/assets/Korak3.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Korak Shaun Kuhnert</h4>
                        <p class="text-muted">CTO</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            </div>
                        </div>
                        <img src="/assets/Jan3.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Jan Pickard</h4>
                        <p class="text-muted">CPO</p>
                    </div>
                </div>
     
                <div class="col-md-6 col-sm-6 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            </div>
                        </div>
                        <img src="/assets/Chris3.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>Christopher Canning</h4>
                        <p class="text-muted">Java Developer</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="portfolio-hover">
                            <div class="portfolio-hover-content">
                            </div>
                        </div>
                        <img src="/assets/David2.jpg" class="img-responsive" alt="">
                    </a>
                    <div class="portfolio-caption">
                        <h4>David George Horscroft</h4>
                        <p class="text-muted">Java Developer</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Footsteps of Magnetic</h2>
                    <h3 class="section-subheading text-muted">From the Birth to where we are currently at</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img src="/assets/keepCalm1.jpg" height="100%" width="100%" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2007-2008</h4>
                                    <h4 class="subheading">Started as Korak's Side Project</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Managing a team of developers, Korak encountered management problems. It was challenging to distribute workload equally, oversee what each member were doing and communicate with all members. As a solution of the management problem, Korak started 'Magnetic' as his side project. He casually worked on the project whenever he had some time. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                               <img src="/assets/Magnetic_old_logo.png" height="100%" width="100%" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2008</h4>
                                    <h4 class="subheading">The First Client & The First Logo </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Korak sepnt more time on his side project. He consistenly put his time to develop better Magnetic platform. Finally, he got some 'clients' who started to use the Magnetic service for free. And they Loved it! He desigend the first Magnetic logo, too. </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img src="/assets/profit2.jpg" height="100%" width="100%" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2010</h4>
                                    <h4 class="subheading">Clietns started to pay!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">People found out that how conveninetly they could do their takss with Magnetic. Clients were willing to pay money to use the service. There, Korak took Magnetic as a business model. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img src="/img/image3.jpg" height="100%" width="100%" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012</h4>
                                    <h4 class="subheading">boolean Korak==Magnetic;</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Korak quit his job and fully invovled into Magnetic! All of Korak's time was foucsed on Magnetic.</p>
                                </div>
                            </div>
                        </li>
                          <li>
                            <div class="timeline-image">
                                <img src="/assets/image8.jpg" height="100%" width="100%" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October, 2012</h4>
                                    <h4 class="subheading">Here we go as a TEAM</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Dan and Jan joined Magnetic Team, and they also fully invovled themselves into Magnetic a year later</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img src="/assets/magnetic_app.jpg" height="100%" width="100%" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Magnetic ~ing</h4>
                                    <h4 class="subheading">The Brighter Future is Waiting for US!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Keep your eye on Magnetic! The More User-Friendly, The more organized services are coming soon! </p>
                                </div>
                            </div>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Magnetic Interns</h2>
                    <h3 class="section-subheading text-muted"><font size="4">2015 is the first time for Magnetic to have interns. We are proud to introduce our interns to you ! </font></h3>
                </div>
            </div>
            <font size="5">1st Generation </font>
            <hr>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="/assets/Yunny_profile.jpg" class="img-responsive img-circle" alt="">
                        <h4>Sung Yun Chung</h4>
                        <p class="text-muted">Brown University'17<br>Computer Science Major <br> Interseted in Social Innovation & Entrepreneurship</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/sungyun.chung"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/yunnychung"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="/assets/Sihan_Ding.jpg" class="img-responsive img-circle" alt="">
                        <h4>Sihan Ding</h4>
                        <p class="text-muted">University of Virginia'17<br>Finance & Business Major <br> Interested in Photography & Film </p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://www.facebook.com/sihan.ding.3"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="https://www.linkedin.com/in/designding"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            <font size="5">2nd Generation</font>
            <div class="col-sm-12">
              <hr>
            </div>
                <p>Please Upload your Profile Pictures, Session 2 Interns! </p>
            </div>
            
            <hr>
            </div>
                  <div class="col-lg-10 col-lg-offset-1 text-center">
                    <p class="large text-muted"><font size="5"> The only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. <br> As with all matters of the heart, you’ll know when you find it.” <br>– Steve Jobs</font></p>
                </div>
        <hr>
    </section>
    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Interns' Projects</h2>

                    <h3 class="section-subheading text-muted"><font color="orange">Explore what other interns have done for their internship!</font></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                                   
                        <% if !flash[:notice].blank? %>
                          <div class="alert alert-info">
                          <%= flash[:notice] %>
                          </div>
                        <% end %>

                            <br />
                            <%= link_to "Upload your Project", new_magnetic_path, class: "btn btn-primary" %>
                            <br />
                            <br />
                        <table class="table table-bordered table-striped">
                          <thead>
                            <tr>
                              <th><font color="white">Name</font></th>
                              <th><font color="white">Download Link</font></th>
                              <th>&nbsp;</th>
                            </tr>
                          </thead>

                          <tbody>
                            <% @magnetics.each do |magnetic| %>
                              <tr>
                                <td><font color="orange"><%= magnetic.name %></font></td>
                                <td><%= link_to "Download Project", magnetic.attachment_url %></td>
                                <td><%= button_to "Delete", magnetic, method: :delete, class: "btn btn-danger btn-sm"%></td>
                            <% end %>
                            </tbody>
                        </table>                  
                </div>
            </div>
        </div>
    </section>

    <footer>
        <!-- Facebook Sharing -->
        <aside class="clients">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <center><p>Share your Love for Magnetic with your Friends by sharing the Website!</p></center>
                        <center><div class="fb-like" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div></center>
                     </div>
                </div>
            </div>
        </aside>
        <br>
        <div class="container">
            <div class="row">
                    <span class="copyright">Copyright Yunny Chung & Sihan Ding: iXperience Magnetic Interns 2015</span>
            </div>
        </div>
    </footer>

    <!-- Portfolio Modals -->
    <!-- Use the modals below to showcase details about your portfolio projects! -->
    <!-- Portfolio Modal 1 -->
    <div class="portfolioModal1">
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content" id="modal-content1">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Korak Shaun Kuhnert</h2>
                            <p class="item-intro text-muted">CTO</p>
                            <img class="img-responsive img-centered" src="/assets/Korak.jpg" width="500px" height="600px">
                        </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">You and Magnetics</h3>
        </div>

   <div class="panel-body">
    <b><em><font size="4">A. Full Name </font></em></b>
    <br>Korak Shaun Kuhnert <br><br>
    
    <b><em><font size="4">B. Your Role in Magnetic</font></em></b> <br>


    <b><em><font size="4">C. Why did you decide to work for Magnetic?</font></em></b><br>


    <b><em><font size="4">D. What you like most about Magnetic?</font></em></b><br>

        </div>
    </div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">WHO is Korak Shaun Kuhnert?</h3>
    </div>

    <div class="panel-body">
<b><em><font size="4">A. Your Coding Experience</font></em></b><br>


<b><em><font size="4">B. College Experience</font></em></b><br>


<b><em><font size="4">C. Internship Experience</font></em></b> <br>
    </div>
    </div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">WHO is David George Horscroft?</h3>
    </div>

    <div class="panel-body">
<b><em><font size="4">A. Your Coding Experience</font></em></b><br>



<b><em><font size="4">B. College Experience</font></em></b><br>


<b><em><font size="4">C. Internship Experience</font></em></b> <br>

    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Korak as a PERSON</h3>
    </div>

    <div class="panel-body">
<b><em><font size="4">A. Favorite Snakcs</font></em></b><br>



<b><em><font size="4">B. Favorite Activity</font></em></b><br>


<b><em><font size="4">C. The Best Thing that happened in Your Life</font></em></b><br>


<b><em><font size="4">E. Favorite Time during your weekdays</font></em></b><br>

    </div>
</div>

<br><br>
<div class="panel panel-success">
  <div class="panel-heading">One WORD that represents Korak</div>
  <div class="panel-body">
   <b>CHAOTIC</b> <br>
So many thought and ideas are floating in my head! 
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">Advice to college/iX students about Internship & Career</div>
  <div class="panel-body">
   <b>DO INTERNSHIP! </b><br>
With your internship experience, you can show not only your technical skills but also your cooperation skills. <br>
Definitely do the internship not only for the currency but also for your CV and life lesson! <br>
  </div>
</div>

<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Portfolio Modal 2 -->
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content" id="modal-content2">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Jan Pickard</h2>
                            <p class="item-intro text-muted">CPO</p>
                            <img class="img-responsive img-centered" src="/assets/Jan2.jpg" width="500px" height="600px">
                                                       
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">You and Magnetics</h3>
        </div>

   <div class="panel-body">
    <b><em><font size="4">A. Full Name </font></em></b>
    <br>Jan Pickard <br><br>
    
    <b><em><font size="4">B. Your Role in Magnetic</font></em></b> <br>


    <b><em><font size="4">C. Why did you decide to work for Magnetic?</font></em></b><br>


    <b><em><font size="4">D. What you like most about Magnetic?</font></em></b><br>

        </div>
    </div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">WHO is Jan Pickard?</h3>
    </div>

    <div class="panel-body">
<b><em><font size="4">A. Your Coding Experience</font></em></b><br>


<b><em><font size="4">B. College Experience</font></em></b><br>


<b><em><font size="4">C. Internship Experience</font></em></b> <br>

    </div>
    </div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Jan as a PERSON</h3>
    </div>

    <div class="panel-body">
<b><em><font size="4">A. Favorite Snakcs</font></em></b><br>



<b><em><font size="4">B. Favorite Activity</font></em></b><br>


<b><em><font size="4">C. The Best Thing that happened in Your Life</font></em></b><br>


<b><em><font size="4">E. Favorite Time during your weekdays</font></em></b><br>

    </div>
</div>

<br><br>
<div class="panel panel-success">
  <div class="panel-heading">One WORD that represents Jan</div>
  <div class="panel-body">
   <b>CHAOTIC</b> <br>
So many thought and ideas are floating in my head! 
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">Advice to college/iX students about Internship & Career</div>
  <div class="panel-body">
   <b>DO INTERNSHIP! </b><br>
With your internship experience, you can show not only your technical skills but also your cooperation skills. <br>
Definitely do the internship not only for the currency but also for your CV and life lesson! <br>
  </div>
</div>

<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 5 -->
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content" id="modal-content5">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Christopher Canning</h2>
                            <p class="item-intro text-muted">Java Developer</p>
                            <img class="img-responsive img-centered" src="/assets/Chris.jpg" width="500px" hight="600px">
    

<div class="panel panel-warning">
        <div class="panel-heading">
            <h3 class="panel-title">You and Magnetics</h3>
        </div>

   <div class="panel-body">
<b><em><font size="4">A. Full Name </font></em></b>
    <br>Christopher Canning <br><br>
    
    <b><em><font size="4">B. Your Role in Magnetic</font></em></b> <br>
        I am a Java Developer. I am not only handling Java, but also using ajax,jQuery, Javascript!<br> From the backend to the frontend,  I am doing everything <br><br>
    
    <b><em><font size="4">C. How did you know Magnetic?</font></em></b><br>
    I worked for the company named ‘Profida’, in Durbanville for two years, including my 6 months of the internship. <br>And Jan contacted me via LinkedIn (Yes, LinkedIn is pretty powerful!) and explained his job to me.<br> The payment was better and Magnetic provided me more opportunity to learn more about the whole process of business and new technology. <br> As a person working for this company, I can say with confidence that this place is the perfect place to learn morea bout the constantly changing technology. <br>Here, you can apply what you learned at your school and gain real experience. <br><br>

    <b><em><font size="4">D. What you like most about Magnetic?</font></em></b><br>
        <b> a. The FLEXIBLE Working Hours </b> <br>
            You can come and go home whenever you want as long as you finish your project!<br> 
            You are always allowed to work at your home. <br>
        <b> b. The guys are REALLY COOL</b><br>
            What can I say more about them? They are not strict and not bossy.<br> 
            Everyone is a friend to each other. This is such a chill place, and I am having a great time here. </p>
        </div>
    </div>

<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">WHO is Christopher Canning?</h3>
    </div>

    <div class="panel-body">
<b><em><font size="4">A. Your Coding Experience</font></em></b><br>
I started Java, jQuery and JavaScript.<br> 
I have studied Computer Science since 2011.<br> 
I went to a technical university, which specializes in tech stuff! <br>
Here, you can get the diploma in three years and it is generally enough to get a job.<br>
Currently I am doing my fourth year in the UNISA (University of South Africa). <br>
At UNISA, you can learn stuff online; no physical classes!<br> 
Everything such as lectures and assignment is online.<br>
 Since I know the basic stuff in cs, I can teach myself. UNISA is quite nice for me. <br><br>

<b><em><font size="4">B. College Experience</font></em></b><br>
I majored in Development Software. <br>
One memorable experience in my college was one online tech practical exam that I took. <br>
I had to create a web platform. Everything went pretty well. <br>
But, on the night before the submission, my teammates and I found out that we did not do one requirement.<br>
All of us did not have ANY idea how to fulfill it.<br>
So, what else? I studied until 1 am to satisfy the requirement and took the action.<br> 
GUESS WHAT? <br>
I got 99 % on the exam. But definitely, it was not a fun experience. <br><br>

<b><em><font size="4">C. Internship Experience</font></em></b> <br>
I did one internship which was 6 months at the company, ‘Profida’. Afterwards, the company took him as a full time worker.<br> 
There, I basically had to do everything. I did little pieces of the big projects. 
I really like what current interns are doing. </p>
    </div>
</div>


<div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">Chris as a PERSON</h3>
    </div>

    <div class="panel-body">
<b><em><font size="4">A. Favorite Snakcs</font></em></b><br>
Pringles! Salt and Vinegar flavour is the BEST! <br>
Biltong flavored Chilly and Chutney <br>
 <br>

<b><em><font size="4">B. Favorite Activity</font></em></b><br>
Running Races <br><br>


<b><em><font size="4">C. The Best Thing that happened in Your Life</font></em></b><br>
I bought my car last year! (2014)<br><br>

<b><em><font size="4">E. Favorite Time during your weekdays</font></em></b><br>
I just love evening. I can work better at nights. 
</p>
    </div>
</div>


<br><br>
<div class="panel panel-success">
  <div class="panel-heading">One WORD that rerpresents CHRIS</div>
  <div class="panel-body">
   <b>MOTIVATED</b> <br>
It is really challenging to manage my studying life and my part-time job. <br>
Yet, I can do both because I know I want to do so.<br> 
Here, self-motivation is the key for me to achieve what I want.
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">Advice to college/iX students about Internship & Career</div>
  <div class="panel-body">
   <b>A. Learn JAVA!</b> <br>
Learning Java is really important.<br>
And remember, Java is not just ‘Java’. <br>
It has a lot of different frameworks such as jsp, Javascript and jQuery. <br>
<b>B.Do a lot of side projects in your college years!</b> <br>
In my second year, I built a website in php and found out that building a website was his passion.<br>
It was not even the part of my studying, but it was a great experience for me to find out what I actually like! 
  </div>
</div>

<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Go Back </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Portfolio Modal 6 -->
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content" id="modal-content6">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>David George Horscroft </h2>
                            <p class="item-intro text-muted">Java Developer</p>
                            <img class="img-responsive img-centered" src="/assets/David3.jpg" width="500px" height="600px">
                           
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">You and Magnetics</h3>
        </div>

   <div class="panel-body">
    <b><em><font size="4">A. Full Name </font></em></b>
    <br>David George Horscroft <br><br>
    
    <b><em><font size="4">B. Your Role in Magnetic</font></em></b> <br>
    My official role is a Java developer of Magnetic. <br>
At the same time, I help the company to run the system.<br> 
I also take charge of the mobile app development for html5, css and javascript. <br><br>

    <b><em><font size="4">C. Why did you decide to work for Magnetic?</font></em></b><br>
I was looking for a few jobs where I could do some cool projects with a group of cool people. <br>
And a Java developer at Magnetic was perfect position for me. <br>
Furtherore, I really do like a start-up atmosphere.<br>
 I had two internships at Amazon and it was a very different atmosphere from that of Magnetic. <br>
Here, there is a loose hierarchy compared to the massive hierarchy of Amazon. <br><br>

    <b><em><font size="4">D. What you like most about Magnetic?</font></em></b><br>
Accepting Atmosphere. <br>
Here at Magnetic, anyone can say anything. <br>
There is obviously a hierarchy, but I can do whatever I want. <br>
No DISCOURAGEMENT of anyone who says something. <br>
No FEAR of saying “NO” and proposing your opinion to anyone. <br>
This means a lot to the company. <br>
Within this accepting atmosphere, anyone can stand up and point out a problem, whenever something goes wrong. <br>
No one judges the sayer and no one minds his point. <br> 
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">WHO is David George Horscroft?</h3>
    </div>

    <div class="panel-body">
<b><em><font size="4">A. Your Coding Experience</font></em></b><br>
I have been coding since I was in the 9th grade.<br> 
I first played around with it. <br> 
Then I found a bunch of tutorials and started to study about coding by myself.<br> 
When I was in the 10th grade, I took a coding class and did many projects. <br>
Then I went to University of Cape Town to study more about Computer Science. <br><br>


<b><em><font size="4">B. College Experience</font></em></b><br>
I majored in Bio Informatics.<br>
I was really interested in bio computing. <br>
I studied a lot about genetics and combined my knowledge in bio and genetics with computer science. <br><br>

<b><em><font size="4">C. Internship Experience</font></em></b> <br>
I did two internships at Amazon.<br>
At the second time, I was asked to do fix the bugs that I caused during my first internship.<br> At a big company like Amazon, you don’t feel like you are making something. <br>
For instance, you add a functionality and it will be deployed a month later. <br>
Also, only a small portion of people will use your functionality.<br>
You cannot hear what other people think about your creation instantly. <br>
But here, at Magnetic, you are making important features and can see the process of implementations. <br>
You are going to take a critical role in making, testing and deploying and you can feel the responses and feedbacks of your work right after. 
    </div>
    </div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">WHO is David George Horscroft?</h3>
    </div>

    <div class="panel-body">
<b><em><font size="4">A. Your Coding Experience</font></em></b><br>
I have been coding since I was in the 9th grade.<br> 
I first played around with it. <br> 
Then I found a bunch of tutorials and started to study about coding by myself.<br> 
When I was in the 10th grade, I took a coding class and did many projects. <br>
Then I went to University of Cape Town to study more about Computer Science. <br><br>


<b><em><font size="4">B. College Experience</font></em></b><br>
I majored in Bio Informatics.<br>
I was really interested in bio computing. <br>
I studied a lot about genetics and combined my knowledge in bio and genetics with computer science. <br><br>

<b><em><font size="4">C. Internship Experience</font></em></b> <br>
I did two internships at Amazon.<br>
At the second time, I was asked to do fix the bugs that I caused during my first internship.<br> At a big company like Amazon, you don’t feel like you are making something. <br>
For instance, you add a functionality and it will be deployed a month later. <br>
Also, only a small portion of people will use your functionality.<br>
You cannot hear what other people think about your creation instantly. <br>
But here, at Magnetic, you are making important features and can see the process of implementations. <br>
You are going to take a critical role in making, testing and deploying and you can feel the responses and feedbacks of your work right after. 
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">David as a PERSON</h3>
    </div>

    <div class="panel-body">
<b><em><font size="4">A. Favorite Snakcs</font></em></b><br>
a. Diet Coke Zero <br>
Yet, I am currently taking a break from it.<br> 
Since the last month, I have not drunken the Diet Coke!<br>
I am forcing myself not to drink it for my health.<br> 
b. Frozen Yogurt <br>
-Myog cannot get wrong. <br><br>


<b><em><font size="4">B. Favorite Activity</font></em></b><br>
I really like coding and Writing. <br>
Running NaNoWriMo is also my favorite. <br>
Though I have been writing for ages, still NaNoWriMo is definitely challenging. <br>
I am also an official writer. <br> 
I published a book titled ‘Fetcher’. <br>
Check it out on Amazon! <br><br>

<b><em><font size="4">C. The Best Thing that happened in Your Life</font></em></b><br>
Well, I cannot choose only ONE EVENT which is THE BEST ONE. <br> 
Instead, I want to say that there have been so many COOL THINGS that happened in my life. <br>
Among them my top two are, <br>
Getting into University of Cape Town<br>
Getting a book published<br><br>

<b><em><font size="4">E. Favorite Time during your weekdays</font></em></b><br>
My favorite time during the weekdays is early morning time. <br>
I just feel so comfortable when I huddle after I wake up. <br>
Also, 8am-12pm is a really good time for coding and writing. <br>
Well, let me correct this; <br>
Early Morning is a good time for EVERYTHING. <br>
    </div>
</div>

<br><br>
<div class="panel panel-success">
  <div class="panel-heading">One WORD that represents David</div>
  <div class="panel-body">
   <b>CHAOTIC</b> <br>
So many thought and ideas are floating in my head! 
  </div>
</div>

<div class="panel panel-danger">
  <div class="panel-heading">Advice to college/iX students about Internship & Career</div>
  <div class="panel-body">
   <b>DO INTERNSHIP! </b><br>
With your internship experience, you can show not only your technical skills but also your cooperation skills. <br>
Definitely do the internship not only for the currency but also for your CV and life lesson! <br>
  </div>
</div>

<button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <!-- jQuery -->
    <script src="js/jquery.js"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/agency.js"></script>

</body>
